  .product-card {
      width: 100%;
      max-width: 1100px;
      min-height: 450px;
      margin: auto;
      border: none;
      padding: 30px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    }

    .product-image {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    .product-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .size-btn {
      border: 2px solid #d1006e;
      border-radius: 20px;
      color: #d1006e;
      background: transparent;
      margin: 0 5px;
      padding: 6px 20px;
      transition: 0.3s;
    }

    .size-btn.active,
    .size-btn:hover {
      background-color: #d1006e;
      color: white;
    }

    .btn-pink {
      background-color: #d1006e;
      color: white;
      border-radius: 6px;
      padding: 8px 10px;
      border: none;
      width: 20%;
      max-width: 300px;
    }

    .btn-pink:hover {
      background-color: #b0005a;
    }

    .loved-badge {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: white;
      color: red;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 6px 10px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .icon-text {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .icon-text img {
      width: 28px;
      height: 28px;
    }

    @media (max-width: 768px) {
      .btn-pink {
        width: 100%;
      }

      .product-card {
        padding: 20px;
      }
    }